.create-world{

}

.world-list{
    padding-left:0px;
}
.transparent-background{
    height: 1000px;
    background-image: linear-gradient(to bottom, rgba(222,222,222,0.7), rgba(255,255,255,0))
}

.world-info-row{
     border: 0px solid lightgray;
     border-radius: 25px;

    margin-bottom: 7px;
     margin-top: 7px;
     box-shadow: 5px 10px 12px #888888;
 }

.world-create-row{
    border-radius: 25px;
    margin-bottom: 7px;
    margin-top: 7px;
    box-shadow: 5px 10px 12px #888888;
    color: #888888;
    background-image: linear-gradient(to top, rgba(190, 190, 190,0.7), rgba(255,255,255,0));
    padding-left: 3%;
}

.world-create-row:hover{
    border-radius: 25px;
    margin-bottom: 7px;
    margin-top: 7px;
    box-shadow: 5px 10px 12px #666666;
    color: #666666;
    background-image: linear-gradient(to top, rgba(158, 158, 158,0.7), rgba(230,230,230,0));
    padding-left: 3%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.world-create-dialogue{
    box-shadow: 5px 10px 12px #888888;
}

.modal-content{
    background-image: linear-gradient(to top, rgba(255, 255, 255,0.5), rgba(230,230,230,1));
    background-color: rgba(0,0,0,0);
    background-clip: unset;
    box-shadow: 5px 10px 42px #444444;
}
.modal-header{
    border-bottom: 0px;
}